.seccion-inferior {
    @include desktop {
        
            display: grid;
            grid-template-columns: 2fr 1fr;
            column-gap: 2rem;

            h3 {
                margin: 0 0 4rem 0;
            }
        }
}

.entrada-blog {
    @include telefono {
        margin-bottom: 6rem;

        .imagen {
            margin-bottom: 2rem;
        }
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
        margin-bottom: 4rem;

        .imagen {
            margin-bottom: 0;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }

    img {
        border-radius: 1.5rem;
    }
}

.informacion-meta {
    span {
        color: $salmon;
    }
}

.texto-entrada {
    a {
        color: $negro;
        @include tablet {
            margin-top: 0;
        }
    }
    h4 {
        font-weight: $bold;
        margin: 0;
        line-height: 1.4;
        
        &::after {
            content: '';
            display: block;
            width: 15rem;
            height: .5rem;
            background-color: $salmon;
            margin: 1rem 0 1rem 0;
        }
    }
    
}

/* Contenedor boton pagina blog */
.contenedor-boton {
    display: flex;
    justify-content: flex-end;
    padding-top: 4rem;

    .boton-blog {
        @include telefono {
            width: 100%;
        }

        @include tablet {
            width: auto;
        }
    }
}